button{
    
    width: 146px;
    height: 28px;
    background: #DB8521;
    border-radius: 50px;
    border: 1px transparent;
    cursor: pointer;
    
}
.link {
    text-decoration: none;
    color: #ffff;
    background: #DB8521;
    font-weight: 500;
    letter-spacing: 2px;
}