.modalContainer {
    display: grid;
    grid-template-columns: 1fr 3fr;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: #8e8e8ee8;
    padding: 30px 100px 0 100px;
    animation: slide-right 300ms ease-out forwards;
    overflow: hidden;
}

.hiddenModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: #8e8e8ee8;
    animation: slide-hide 300ms ease-out forwards;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.modal {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-top: 10vh;
    color: white;
}

.details .head {
    height: 10vh;
}

.details .head h1 {
    color: #EDA600;
    letter-spacing: 3px;
}

.details .head h2 {
    font-weight: 400;
}

.details .body {
    padding-top: 10vh;
    padding-left: 20px;
}

.details .body p {
    height: 100px;
    display: flex;
    align-items: center;
    height: 100px;
}

.space p {
    padding-bottom: 30px;
    height: 100px;
    line-height: 100px;
}

.space {
    display: flex;
    flex-direction: column;
    color: #F2D9BA;
    font-size: 20px;
    margin-top: 30vh;
    z-index: 9;
    height: 300px;
    text-align: right;
    padding-right: 10px;
    border-right: #F2D9BA solid 1px;
}

.image {
    display: flex;
    justify-content: center;
}

.image img {
    object-fit: cover;
    width: 250px;
    height: 300px;
    border-radius: 5px;
    margin-top: 20vh;
}

@keyframes slide-right {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes slide-hide {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0);
    }
}

@media only screen and (max-width: 1200px) {
    .modalContainer {
        grid-template-columns: 1fr 4fr;
    }
}

@media only screen and (max-width: 800px) {
    .modalContainer {
        padding: 30px 50px 0 50px;
    }
    .image img {
        object-fit: cover;
        width: 200px;
        height: 300px;
        border-radius: 5px;
    }
}

@media only screen and (max-width: 1000px) {
    .modal {
        grid-template-columns: 2fr 1fr;
    }
}

@media only screen and (max-width: 650px) {
    .modal {
        display: flex;
        flex-direction: column;
        grid-template-columns: unset;
        padding-top: 0;
    }
    .space {
        margin-top: 20vh;
    }
    .image img {
        margin-top: 20px;
        width: 250px;
        height: 200px;
        margin-left: -20vw;
    }
    .modal .head {
        margin-left: -20vw;
    }
}