.planning_container {
    
    width: 100%;
    margin-left: 30px;
    height: 79vh;
    background: #FFFFFF;
    opacity: 0.9;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1fr 7fr;
    
}
.date {
    background: #DB8521;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
color: #fff;
    display: flex;
   
   justify-content: center;
    align-items: center;
   

}
.jour {
   width: 150px;
}
.date h2 {
    transform: rotate(270deg);
    font-size: 2rem;
    
}

.date p {
    transform: rotate(270deg);
    font-size: 1.2rem;
    margin-top: 30px;
    margin-bottom: 50px;
    
  
}
.planning {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: url('./gym6.jpg');
    background-repeat: no-repeat;
    background-size: fill;
    color: #ffff;
    height: 100%;
    opacity: 0.8;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    padding: 30px 0px 10px 10px;
}
