/*.instructorCard {
    border: solid 0.5px #dec09d7a;
    border-radius: 5px;
    width: 250px;
    height: 300px;
    position: relative;
}

.blurCard {
    border: solid 0.5px #dec09d7a;
    background-color: rgba(0, 0, 0, 0.582);
    border-radius: 5px;
    width: 250px;
    height: 300px;
    position: absolute;
    top: 0;
}

.instructorCard img {
    object-fit: cover;
    width: 248.5px;
    height: 298.5px;
    border-radius: 5px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.instructorCard:hover img {
    -webkit-filter: unset;
    filter: unset;
}

.instructorCard:hover {
    border: unset;
}

.instructorCard:hover .blurCard {
    border: unset
}
*/

.flip-card {
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
    border: solid 0.5px #dec09d7a;
    border-radius: 5px;
    width: 250px;
    height: 300px;
    position: relative;
}


/* This container is needed to position the front and back side */

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}


/* Do an horizontal flip when you move the mouse over the flip box container */

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

.flip-card-front img {
    object-fit: cover;
    width: 248.5px;
    height: 298.5px;
    border-radius: 5px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}


/* Style the front side (fallback if image is missing) */


/* Style the back side */

.flip-card-back {
    color: white;
    transform: rotateY(180deg);
}

.flip-card-back img {
    object-fit: cover;
    width: 248.5px;
    height: 298.5px;
    border-radius: 5px;
}

.blurCard {
    border: solid 0.5px #dec09d7a;
    background-color: rgba(0, 0, 0, 0.582);
    border-radius: 5px;
    width: 250px;
    height: 300px;
    position: absolute;
    top: 0;
}

.flip-card-front .cardDescription,
.flip-card-back .cardDescription {
    border-radius: 5px;
    width: 250px;
    height: 300px;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flip-card-back .cardDescription h3 {
    color: #DB8521;
}

.flip-card-back .cardDescription button {
    outline: none;
    background-color: transparent;
    color: #F2D9BA;
    border: #F2D9BA solid 1px;
    position: absolute;
    bottom: 20px;
    width: 100px;
}

.flip-card-front .cardDescription div {
    background-color: #dec09d98;
    border-radius: 25px;
    width: 200px;
    padding: 3px 10px;
    position: absolute;
    bottom: 20px;
    color: white;
}

.flip-card-front .cardDescription div h3 {
    color: #F2D9BA;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: rgba(170, 155, 122, 0.205);
}