.blogs {
    overflow-x: hidden;
}

.section {
    display: flex;
    padding: 50px;
    justify-content: center;
    
}
.cat{
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 0.93rem;
    margin: 20px 0 20px 0;
    
}
.margin_section {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    position:absolute;
    
   
    
}
.cards {

   width: 70%;
    align-items: center;
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(15rem,23rem)) ;
    grid-gap: 1rem;
}
@media (max-width: 1186px) {
    
    
}