.title {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.title h2 {
    font-weight: 500 ;
    letter-spacing: 3px;
}
svg {
    width: 260px;
  height: 300px;
  margin-top: -240px;
  margin-left: -98px;
  
} 
